<div class="p-4 mb-3 bg-dark rounded text-light">
    <h4 class="fst-italic"><%= t('articles.about.title')%></h4>
    <p class="mb-0" style="text-align: justify;"><%= t('articles.about.description')%></p>
</div>